a {
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  text-decoration: none;
  color: inherit;
  font-weight: bold; }
  a:hover {
    text-shadow: 5px 0 15px #377f00, -5px 0 15px #377f00, 0 5px 15px #377f00, 0 -5px 15px #377f00, 5px 5px 15px #377f00, -5px 5px 15px #377f00, -5px 5px 15px #377f00, -5px -5px 15px #377f00;
    color: white; }

body {
  margin: 0 0 20px 0;
  font-family: "Open Sans", sans-serif;
  background: #eeeeee; }

.container {
  position: relative;
  max-width: 1440px;
  min-width: 980px;
  margin: auto; }
  .container nav {
    text-shadow: 5px 0 15px white, -5px 0 15px white, 0 5px 15px white, 0 -5px 15px white, 5px 5px 15px white, -5px 5px 15px white, -5px 5px 15px white, -5px -5px 15px white;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold; }
    .container nav .brand {
      font-size: 20px; }

footer {
  margin: 20px;
  text-align: center;
  color: #333333; }

.content {
  margin: 20px;
  font-size: 16px; }

.horizontal {
  display: inline-block; }
  .horizontal li {
    display: inline-block;
    list-style: none;
    margin: 0 10px 0 10px; }

#demo {
  position: relative; }
  #demo canvas {
    background: black;
    float: left;
    width: 50%; }
  #demo select {
    position: absolute;
    top: 0;
    right: 50%;
    z-index: 1000;
    font-family: monospace;
    font-size: 14px;
    background: #1c4000;
    color: #6eff00; }
  #demo .CodeMirror {
    height: 750px;
    font-size: 14px;
    overflow: hidden; }
